body{
    text-align: center;
    background-color: #f0e8c5;
}
div{
    margin-top: 15px;
}
.image{
    display: flex;
    justify-content: center;
}
.trees{
    margin-right: 25px;
    margin-left: 25px;
    height: 200px;
    width: 300px;
}